.container{
    display: flex;
    flex-direction: column;
}

.table-header{
    display: flex;
}

.sub-container{
    display: flex;
    /* flex-direction: column; */
}

table, th , td {
    border: 1px solid black;
}

td{
    text-align: center;
}